@import "colors.css";
@import "fonts.css";
@import "components/components.css";

/* Сброс стиле   */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  /*font: inherit;*/
  vertical-align: baseline;
  outline: none;
  text-decoration: none;
  list-style: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  /* Основные настройки шрифта */
  font-family: "Minecraft Cyrillic", serif;
  font-size: 0.625rem;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: var(--Text-shadow-normal);
}

@media (max-width: 768px) {
  body {
	height: auto;
	min-height: 100vh;
  }
}

/* Общий контейнер */
.container {
  display: grid;
  width: 1200px;
  max-height: 100vh;
  grid-template-areas: "header header"
  "Content Content"
  "footer footer";
  grid-template-columns: 1fr;
  grid-template-rows: 82px 1fr 82px;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 82px;
  background: var(--Violet-100);
}

.content {
  grid-area: Content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.main-page {
  background: url("../assets/img/bg-main_page.jpg") no-repeat center center / cover;
}

.wrapper-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}


.page_1 {
  color: aqua;
}

.page_2 {
  color: red;
}

.page_3 {
  color: blue
}