@import "colors.css";
@import "fonts.css";
@import "components/components.css";

/* Сброс стиле   */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  /*font: inherit;*/
  vertical-align: baseline;
  outline: none;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  /* Основные настройки шрифта */
  font-family: "Minecraft Cyrillic", serif;
  font-size: 0.625rem;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: var(--Text-shadow-normal);
}

@media (max-width: 767px) {
  body {
	min-height: calc(100vh - 150px);
  }
}

/* Общий контейнер */
.container {
  width: 1200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 24px 0px 24px;
}

.container-main-page {
  background: url("../assets/img/bg-main_page.jpg") no-repeat center center / cover;
}

.wrapper-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: inherit;
  height: 82px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer__sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-top: var(--Dark-40) 1px solid;
  background: var(--Violet-100);
}

.footer__cubes {
  position: relative;
  top: 0.5rem;
}

.page_1 {
  color: aqua;
}

.page_2 {
  color: red;
}

.page_3 {
  color: blue
}